@{  
    ViewBag.Title = "NotFound";  
}  
  
<br/>
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Application Error 404</h4>
    <p>
        Sorry, The Page, You are Looking for is not found.
    </p>
    <hr />
    <a class="btn btn-primary" href="javascript:void(0);" onclick="history.go(-1);" role="button">Go Back</a>
</div>