@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Unipi Bookstore</h1>
    <p class="lead">We believe that bookstores are essential to a healthy culture. They’re where authors can connect 
        with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. 
        They’re also anchors for our downtowns and communities.</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>P17001</h2>
            <p>
                Μάριος Χρίστου
            </p>
            <div class="github-card" data-github="marioschr" data-width="300" data-height="" data-theme="medium"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
        <div class="col-sm">
            <h2>P17163</h2>
            <p>
                Αλέξανδρος Γαβριήλ
            </p>
            <div class="github-card" data-github="3att3" data-width="300" data-height="" data-theme="medium"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
        <div class="col-sm">
            <h2>P17165</h2>
            <p>
                Λάζαρος Μιχαήλ
            </p>
            <div class="github-card" data-github="lazarosmich" data-width="300" data-height="" data-theme="medium"></div>
            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
    </div>
</div>